<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzy.mapper.OrderSettingMapper">
    <select id="findCountByOrderDate" parameterType="java.util.Date" resultType="long">
        SELECT COUNT(id) FROM `t_ordersetting` WHERE orderDate=#{orderDate}
    </select>
    <update id="updateNumberByOrderDate" parameterType="orderSetting">
        UPDATE `t_ordersetting`
        <trim prefix="set" suffixOverrides=",">
            <if test="number != 0">
                number=#{number},
            </if>
            <if test="reservations != 0">
                reservations=#{reservations},
            </if>
        </trim>
        <where>
            orderDate=#{orderDate}
        </where>
    </update>
    <insert id="addOrder" parameterType="orderSetting">
        INSERT INTO `t_ordersetting` (orderDate,number,reservations)
        VALUES (#{orderDate},#{number},#{reservations})
    </insert>
    <select id="getOrderByMonth" parameterType="map" resultType="orderSetting">
        SELECT * FROM `t_ordersetting` WHERE orderDate
        BETWEEN #{dateBegin} AND #{dateEnd}
    </select>
    <select id="findOrderSetByOrderDate" parameterType="java.util.Date" resultType="orderSetting">
        SELECT * FROM `t_ordersetting` WHERE orderDate=#{orderDate}
    </select>
</mapper>