<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzy.mapper.OrderMapper">
    <select id="findMemberByCondition" parameterType="order" resultType="order">
        SELECT * FROM `t_order` WHERE member_id=#{memberId} AND
        orderDate=#{orderDate} AND setmeal_id=#{setmealId}
    </select>
    <insert id="save" parameterType="order">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `t_order`(id,member_id,orderDate,orderType,orderStatus,setmeal_id)
        VALUES(#{id},#{memberId},#{orderDate},#{orderType},#{orderStatus},#{setmealId})
    </insert>
    <select id="findById" resultType="map" parameterType="int">
        select m.name member, s.name setmeal, o.orderDate orderDate, o.orderType orderType
        from `t_order` o,`t_member` m, `t_setmeal` s
        where o.member_id = m.id and o.setmeal_id =  s.id and o.id = #{id}
    </select>
    <select id="findCountBysetmealId" parameterType="int" resultType="long">
        SELECT COUNT(id) FROM `t_order` WHERE setmeal_id=#{id}
    </select>
    <select id="findCountByDate" parameterType="string" resultType="long">
        SELECT COUNT(id) FROM `t_order` where orderDate=#{reportDate}
        <if test="orderStatus != null">
            AND orderStatus=#{orderStatus}
        </if>
    </select>
    <select id="findCountInDate" parameterType="map" resultType="long">
        SELECT COUNT(id) FROM `t_order` where orderDate between #{dateBegin} and #{dateEnd}
        <if test="orderStatus != null">
            AND orderStatus=#{orderStatus}
        </if>
    </select>

</mapper>