<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzy.mapper.SetMealMapper">
    <select id="findCondition" parameterType="string" resultType="setmeal">
        SELECT * FROM `t_setmeal`
        <if test="value != null and value.length > 0">
            <where>
                name like #{queryString} or code like #{queryString} or helpCode like #{queryString}
            </where>
        </if>
    </select>
    <insert id="addSetMeal" parameterType="setmeal">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `t_setmeal`(id,`name`,`code`,helpCode,sex,age,price,remark,attention,img)
        VALUES(#{id},#{name},#{code},#{helpCode},#{sex},#{age},#{price},#{remark},#{attention},#{img})
    </insert>
    <insert id="addGroupIdsBySetMealId" parameterType="map">
        INSERT INTO `t_setmeal_checkgroup`(setmeal_id,checkgroup_id)
        VALUES(#{setMealId},#{checkGroupId})
    </insert>
    <select id="findGroupIdsBySetMealId" parameterType="int" resultType="int">
        SELECT checkgroup_id FROM `t_setmeal_checkgroup` WHERE setmeal_id=#{setMealId}
    </select>
    <delete id="deleteSetMealAndCheckGroup" parameterType="int">
        DELETE FROM `t_setmeal_checkgroup` WHERE setmeal_id=#{id}
    </delete>
    <update id="updateSetMeal" parameterType="setmeal">
        UPDATE `t_setmeal`
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                name = #{name},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="helpCode != null">
                helpCode = #{helpCode},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="attention != null">
                attention = #{attention},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>
    <delete id="deleteSetMealById" parameterType="int">
        DELETE FROM `t_setmeal` WHERE id=#{setMealId}
    </delete>
    <select id="findSetMealById" parameterType="int" resultType="setmeal">
        SELECT * FROM `t_setmeal` WHERE id = #{id}
    </select>
    <select id="findAllSetMeal" resultType="setmeal">
        SELECT * FROM `t_setmeal`
    </select>
    <!--关联查询setMeal数据-->
    <resultMap id="setMealMap" type="setmeal">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="helpCode" property="helpCode"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="price" property="price"/>
        <result column="remark" property="remark"/>
        <result column="attention" property="attention"/>
        <result column="img" property="img"/>
        <collection property="checkGroups"
                    javaType="arrayList"
                    ofType="checkGroup"
                    column="id"
                    select="com.lzy.mapper.CheckGroupMapper.findBySetMealId"/>
    </resultMap>
    <select id="findById" resultMap="setMealMap" parameterType="int">
        SELECT * FROM `t_setmeal` WHERE id=#{id}
    </select>
    <select id="findHotSetMeal" resultType="map">
        SELECT s.name,COUNT(o.id) setmeal_count,
        COUNT(o.id)/(SELECT COUNT(id) FROM `t_order`) proportion, s.attention
        FROM `t_order`o,`t_setmeal` s WHERE o.setmeal_id = s.id
        GROUP BY o.setmeal_id order by setmeal_count desc limit 4
    </select>
</mapper>