<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzy.mapper.UserMapper">
    <resultMap id="userMap" type="user">
        <id column="id" property="id"/>
        <result column="birthday" property="birthday"/>
        <result column="gender" property="gender"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="remark" property="remark"/>
        <result column="station" property="station"/>
        <result column="telephone" property="telephone"/>
        <collection property="roles"
                    column="id"
                    ofType="role"
                    javaType="java.util.Set"
                    select="com.lzy.mapper.RoleMapper.findRoleByUserId"/>
    </resultMap>
    <select id="findUserByUsername" parameterType="string" resultMap="userMap">
        SELECT * FROM t_user WHERE username=#{username}
    </select>
    <select id="findPage" parameterType="string" resultType="user">
        SELECT * FROM `t_user`
        <where>
            <if test="value !=null">
                `name` LIKE #{queryString} OR username LIKE #{queryString}
            </if>
        </where>
    </select>
    <insert id="add" parameterType="user">
        <selectKey resultType="int" keyColumn="id" order="AFTER" keyProperty="id">
            select last_insert_id()
        </selectKey>
        INSERT INTO `t_user`(id,`name`,birthday,gender,username,`password`,remark,station,telephone)
        VALUES(#{id},#{name},#{birthday},#{gender},#{username},#{password},#{remark},#{station},#{telephone})
    </insert>
    <insert id="addUserIdByRoleId" parameterType="map">
        INSERT INTO `t_user_role`(user_id,role_id) VALUES(#{userId},#{roleId})
    </insert>
    <delete id="deleteRoleIdByUserId" parameterType="int">
        DELETE FROM `t_user_role` WHERE user_id=#{userId}
    </delete>
    <delete id="delete" parameterType="int">
        DELETE FROM `t_user` WHERE id=#{userId}
    </delete>
    <select id="findRoleIdsByUserId" parameterType="int" resultType="int">
        SELECT role_id FROM `t_user_role` WHERE user_id = #{id}
    </select>
    <update id="edit" parameterType="user">
        UPDATE `t_user`
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                name = #{name},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="station != null">
                station = #{station},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
        </trim>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>