<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>健康管理</title>
    <meta name="description" content="健康管理">
    <meta name="keywords" content="健康管理">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>预约管理
            <small>检查项管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>预约管理</el-breadcrumb-item>
            <el-breadcrumb-item>检查项管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="项目编码/项目名称" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-button @click="search()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="code" label="项目编码" align="center"></e l-table-column>
                    <el-table-column prop="name" label="项目名称" align="center"></el-table-column>
                    <el-table-column label="适用性别" align="center">
                        <template slot-scope="scope">
                            <span>{{ scope.row.sex == '0' ? '不限' : scope.row.sex == '1' ? '男' : '女'}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="age" label="适用年龄" align="center"></el-table-column>
                    <el-table-column prop="remark" label="项目说明" align="center"></el-table-column>
                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                            <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <!--页码发生改变的时候-->
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增检查项" :visible.sync="dialogFormVisible">
                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="项目编码" prop="code">
                                    <el-input v-model="formData.code"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="项目名称" prop="name">
                                    <el-input v-model="formData.name"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="性别">
                                    <el-select v-model="formData.sex">
                                        <el-option label="不限" value="0"></el-option>
                                        <el-option label="男" value="1"></el-option>
                                        <el-option label="女" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="适用年龄">
                                    <el-input v-model="formData.age"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="类型">
                                    <el-select v-model="formData.type">
                                        <el-option label="检查" value="1"></el-option>
                                        <el-option label="检验" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="价格">
                                    <el-input v-model="formData.price"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="项目说明">
                                    <el-input v-model="formData.remark" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="注意事项">
                                    <el-input v-model="formData.attention" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" :disabled="isDisable" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑检查项" :visible.sync="dialogFormVisible4Edit">
                    <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="项目编码" prop="code">
                                    <el-input v-model="formData.code"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="项目名称" prop="name">
                                    <el-input v-model="formData.name"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="性别">
                                    <el-select v-model="formData.sex">
                                        <el-option label="不限" value="0"></el-option>
                                        <el-option label="男" value="1"></el-option>
                                        <el-option label="女" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="适用年龄">
                                    <el-input v-model="formData.age"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="类型">
                                    <el-select v-model="formData.type">
                                        <el-option label="检查" value="1"></el-option>
                                        <el-option label="检验" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="价格">
                                    <el-input v-model="formData.price"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="项目说明">
                                    <el-input v-model="formData.remark" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="注意事项">
                                    <el-input v-model="formData.attention" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="canalUpdate()">取消</el-button>
                        <el-button type="primary" :disabled="isDisable" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            isDisable: false,
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的记录数
                total: 0,//总记录数
                queryString: null//查询条件
            },
            dataList: [],//当前页要展示的分页列表数据
            formData: {},//表单数据
            dialogFormVisible: false,//增加表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
            rules: {//校验规则
                code: [{required: true, message: '项目编码为必填项', trigger: 'blur'}],
                name: [{required: true, message: '项目名称为必填项', trigger: 'blur'}]
            }
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();
        },
        methods: {
            //查询按钮
            search() {
                this.pagination.currentPage = 1;
                this.findPage();
            },
            //更新表单
            canalUpdate() {
                this.dialogFormVisible4Edit = false;
                this.$refs['dataEditForm'].resetFields();
                this.findPage();
            },
            //编辑
            handleEdit() {
                //校验表单数据
                this.$refs['dataEditForm'].validate((valid) => {
                    //校验表单成功
                    if (valid) {
                        //关闭编辑表单
                        this.dialogFormVisible4Edit = false;
                        this.isDisable = true;
                        //axios发送ajax异步请求
                        axios.post('../checkitem/edit.do', this.formData).then((resp) => {
                            //修改数据成功
                            if (resp.data.flag) {
                                this.$message({
                                    message: resp.data.message,
                                    type: 'success'
                                });
                            } else {//修改数据失败
                                this.$message({
                                    message: resp.data.message,
                                    type: 'error'
                                });
                            }
                        }).catch((r) => {
                            this.showMessage(r);
                        }).finally(() => {
                            this.$refs['dataEditForm'].resetFields();
                            this.findPage();
                        });
                    } else {//校验表单失败
                        this.$message.error('表单校验失败');
                        return false;
                    }
                });
            },
            //添加
            handleAdd() {
                //请求之前检验表单数据
                this.$refs['dataAddForm'].validate((valid) => {
                    //表单检验成功
                    if (valid) {
                        //请求发送成功, 关闭添加窗口
                        this.dialogFormVisible = false;
                        this.isDisable = true;
                        //axios发送ajax异步请求
                        axios.post('../checkitem/add.do', this.formData).then((resp) => {
                            //检查项添加成功
                            if (resp.data.flag) {
                                this.$message({
                                    message: resp.data.message,
                                    type: 'success'
                                });
                            } else {//检查项添加失败
                                this.$message.error(resp.data.message);
                            }
                        }).catch((r) => {
                            this.showMessage(r);
                        }).finally(() => {
                            //查询数据
                            this.findPage();
                        });
                    } else {//表单检验失败
                        this.$message.error('表单检验失败');
                        return false;
                    }
                });
            },
            //分页查询
            findPage() {
                //定义查询参数
                var parameter = {
                    currentPage: this.pagination.currentPage,
                    pageSize: this.pagination.pageSize,
                    queryString: this.pagination.queryString
                };
                //发送axios的ajax异步请求
                axios.post('../checkitem/findPage.do', parameter).then((resp) => {
                    this.dataList = resp.data.rows;
                    this.pagination.total = resp.data.total;
                    if (this.dataList.length == 0 && this.pagination.currentPage > 1) {
                        this.pagination.currentPage -= 1;
                        this.findPage();
                    }
                }).catch((r) => {
                    this.showMessage(r);
                });
            },
            //重置表单
            resetForm() {
                this.formData = {};
                this.$refs["dataAddForm"].resetFields();
            },
            //弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
                this.isDisable = false;
                this.resetForm();
            },
            //弹出编辑窗口
            handleUpdate(row) {
                this.dialogFormVisible4Edit = true;
                this.isDisable = false;
                //回显数据
                this.formData = row;
            },
            //切换页码, 页码改变时执行该方法
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            //删除
            handleDelete(row) {
                //确认用户是否删除
                this.$confirm('确认删除本检查项?', '删除', {type: 'warning'}).then(() => {
                    //确认删除, axios发送ajax异步请求
                    axios.get('../checkitem/delete/' + row.id + '.do').then((resp) => {
                        //删除成功
                        if (resp.data.flag) {
                            this.$message.success(resp.data.message);
                        } else {//删除失败
                            this.$message.error(resp.data.message);
                            return false;
                        }
                    }).catch((r) => {
                        this.showMessage(r);
                    }).finally(() => {
                        this.findPage();
                    });
                });
            },
            //权限不足提示
            showMessage(r) {
                if (r == "Error: Request failed with status code 403") {
                    this.$message.error('无访问权限');
                } else {
                    this.$message.error('未知错误');
                }
            }
        }
    });
</script>
</html>